<template>
  <div id="app">
    <ArticleAdministration msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import ArticleAdministration from './components/ArticleAdministration.vue'

export default {
  name: 'ArticleApp',
  components: {
    ArticleAdministration
  }
}
</script>

<style>
</style>
